In [ ]:
%load_ext sql

To avoid `KeyError: 'DEFAULT'` error when attempting to print a query output, we have to to set the `SqlMagic.style` to `'_DEPRECATED_DEFAULT'`

Without the next line, the error encountered would look something like:

```
File ~/dev/etl-projects-env/lib64/python3.12/site-packages/sql/run.py:116, in ResultSet.__init__(self, sqlaproxy, config)
    114         list.__init__(self, sqlaproxy.fetchall())
    115     self.field_names = unduplicate_field_names(self.keys)
--> 116     self.pretty = PrettyTable(self.field_names, style=prettytable.__dict__[config.style.upper()])
    117 else:
    118     list.__init__(self, [])

KeyError: 'DEFAULT'
```

In [9]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [10]:
from sqlalchemy import create_engine

In [11]:
DB_TABLE_NAME='students'
DB_PROJ_USER='postgres_proj_user'
DB_PROJ_PASS='postgres_proj_pass'
DB_NAME='localprojects'
db_url = f'postgresql://{DB_PROJ_USER}:{DB_PROJ_PASS}@localhost/{DB_NAME}'

In [12]:
%sql $db_url

In [13]:
engine = create_engine(db_url)

In [14]:
%%sql
SELECT *
FROM students
LIMIT 5

 * postgresql://postgres_proj_user:***@localhost/localprojects
5 rows affected.

[('Inter', 'SEA', 'Male', 'Grad', 24, 4, 5, 'Long', 3, 'Average', 5, 'High', None, 'Yes', 'No', 'No', 'No', 0, 'Min', 34, 23, 9, 11, 8, 11, 2, 27, 91, 5, 5, 6, 3, 2, 1, 4, 1, 3, 4, None, 'Yes', 'Yes', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No'),
 ('Inter', 'SEA', 'Male', 'Grad', 28, 5, 1, 'Short', 4, 'High', 4, 'High', None, 'No', 'No', 'No', 'No', 2, 'Min', 48, 8, 7, 5, 4, 3, 2, 10, 39, 7, 7, 7, 4, 4, 4, 4, 1, 1, 1, None, 'Yes', 'Yes', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No'),
 ('Inter', 'SEA', 'Male', 'Grad', 25, 4, 6, 'Long', 4, 'High', 4, 'High', 'Yes', 'Yes', 'No', 'No', 'No', 2, 'Min', 41, 13, 4, 7, 6, 4, 3, 14, 51, 3, 3, 3, 1, 1, 2, 1, 1, 1, 1, None, 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No'),
 ('Inter', 'EA', 'Female', 'Grad', 29, 5, 1, 'Short', 2, 'Low', 3, 'Average', 'No', 'No', 'No', 'No', 'No', 3, 'Min', 37, 16, 10, 10, 8, 6, 4, 21, 75, 5, 5, 5, 5, 5, 2, 2, 2, 4, 4, None, 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No'),
 ('Inter', 'EA', 'Female', 'Grad', 28, 5, 1, 'Short', 1, 'Low', 3, 'Average', 'Yes', 'No', 'No', 'No', 'No', 3, 'Min', 37, 15, 12, 5, 8, 7, 4, 31, 82, 5, 5, 5, 2, 5, 2, 5, 5, 4, 4, None, 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'No', 'No', 'No')]